body{
    margin: 0;

}
@font-face {
    font-family: "PFBagueSansProHairline";
    url("../fonts/PFBagueSansProLight.woff") format("woff"),
    url("../fonts/PFBagueSansProHairline.ttf") format("truetype");
}
@font-face {
    font-family:'Geometria';
    src: local("Geometria-Medium"), url("../fonts/FontsFree-Net-Geometria-Medium.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.headerContainer{
    width: 100%;
    height: 99px;
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}
.headerBlock1{
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-family: PFBagueSansProHairline;
    font-weight: 400;
    font-size: 16px;
    color: #fff;

}
._Block1Contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.headerBtn{
    border-radius: 10px;
    padding: 12px 22px;
    height: 48px;
    background: #619e2d;
    border: none;
    font-family: PFBagueSansProHairline;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-left: 43px;
}
.headerBlock2{
    display: flex;
    flex-direction: row;
    margin: 0 170px;
    align-items: center;
    gap: 23px;
}
._Block2Contact{
    display: flex;
    flex-direction: column;
    font-family: PFBagueSansProHairline;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}
._Block2ContactText{
    font-family: PFBagueSansProHairline;
    font-weight: 400;
    font-size: 14px;
    color: #619e2d;
    div{
        border-radius: 100%;
        fill: #619e2d;
    }
}
.content1{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 60px auto 100px auto;
    height: 1010px;
    width: 1568px;
    overflow: hidden;
}
.content1TextImg{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
.content1Dialog{
    border-radius: 20px;
    width: 100%;
    height: 373px;
    backdrop-filter: blur(80px);
    box-shadow: inset 4px 4px 26px 0 rgba(255, 255, 255, 0.05), inset 0 4px 2px 0 rgba(255, 255, 255, 0.05), inset 0 -4px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Geometria;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #000;
    gap: 26px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
._dialog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

._dialogNumber{
    border-radius: 10px;
    padding: 0 22px;
    width: 272px;
    height: 56px;
    background: #faf9fb;
    border: none;
}
input[type="tel"]::-webkit-input-placeholder {
    font-family: PFBagueSansProHairline;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}
input[type="tel"]::-moz-placeholder {
    font-family: PFBagueSansProHairline;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}
._dialogBtn{
    border-radius: 10px;
    padding: 12px 22px;
    width: 304px;
    height: 56px;
    background: #619e2d;
    font-family: PFBagueSansProHairline;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
._agreement{
    font-family: PFBagueSansProHairline;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}
input[type='checkbox'] {
    accent-color:  #619e2d;
}
.content1Text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: Geometria;
    font-weight: 700;
    font-size: 96px;
    line-height: 62%;
    text-align: center;
    color: #000;
    padding: 70px 60px;
    gap: 50px;
    position: relative
}
h1{
    color: #000;
    font-family: Geometria;
    font-weight: 700;
    font-size: 96px;
}
.content1TextSale{
    display: flex;
}
._TextSale{
    font-weight: 500;
    font-size: 48px;
    line-height: 83%;
    position: absolute;
    z-index: 1;
}
._TextNum{
    font-size: 200px;
    line-height: 20%;
    color: #619e2d;
    padding-top: 55px;
    position: absolute;
    z-index: 2;
    padding-left: 165px;
}
.content2{
    margin: 0 auto 100px auto;
    width: 1568px;
    overflow: hidden;
}
.content2TextHead{
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-family: Geometria;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #000;
    margin-bottom: 60px;
}
._textHead2{
    font-weight: 400;
    font-size: 32px;
    line-height: 94%;
}
._CardsGroup{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 42px;
}
._Card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
._CardText{
    display: flex;
    flex-direction: column;
    font-family: Geometria;
    font-weight: 700;
    font-size: 20px;
    line-height: 90%;
    color: #000;
    gap: 4px;
    border-radius: 0 0 20px 20px;
    width: 245px;
    height: 97px;
    background: rgba(255, 255, 255, 0.88);
    padding: 5px 9px;
    margin-top: 8px;
}
._CardText2{
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
}
._CardText3{
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
}
._CardTextImg{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    width: 360px;
    overflow: hidden;
}
._CardImg{
    width: 357px;
    z-index: 1;
}
.content3{
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px auto;
    font-family: Geometria;
    color: #000;
    gap: 25px;
    width: 1568px;
    overflow: hidden;
}
.content3Text {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
}
.content3Text2{
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
}
.content3FromImg{
    display: flex;
    flex-direction: row;
}
.my-form .my-div {
    display: none;
}
.my-form .my-div:first-child {
    display: block;
}
.progress {
    width: 100%;
    background: #f2f0f5;
    position: relative;
    border-radius: 50px;
    height: 16px;
}
.progress-line {
    width: 16.7%;
    background: linear-gradient(90deg, #619e2d 0%, #a5de74 100%);
    position: absolute;
    overflow: hidden;
    border-radius: 50px;
    height: 16px;

}
.done-progress-persent{
    position: absolute;
    text-align: center;
    width: 220px; /*должен быть такойже как и .progress*/
    padding: 2.2px;
    color: #fff;
}
.progress-percent {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 2.2px;
}
.formStep{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 100px;
    padding: 12px 22px;
    width: 160px;
    height: 40px;
    background: linear-gradient(90deg, #619e2d 0%, #a5de74 100%);
    font-family: Geometria;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    span{
        margin-left: 5px;
        font-weight: 400;
    }
}
.formStep_dop{
    margin-top: 24px;
}
.formSteps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-family: Geometria;
    color: #000;
}
.formSteps_dop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
}
.formStepTextH{
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
}
.formStepTextH_dop{
    margin-top: 34px;
}
.formStepTextH2{
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}
.formCards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 32px;
}
.fromTextBtnEnd{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}
.fromTextEnd{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 305px;
}
.next-q{
    border-radius: 10px;
    padding: 12px 22px;
    width: 208px;
    height: 56px;
    background: #619e2d;
    border: none;
    font-family: Geometria;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
._ImgCheck{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width:  365px;

    img{
        width: 320px;
    }
}
._agreement{
    font-family: Geometria;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000;
}
#demo{
    padding: 12px 22px;
    width: 136px;
    height: 56px;
    background: #f2f0f5;

}
.slidecontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    input{
        width: 100%;
    }
    font-family: Geometria;
    font-weight: 500;
    font-size: 24px;
    line-height: 167%;
    color: #000;
}
.slidecontainer_dop{
    width: auto;
    input{
        width: 1110px;
    }
}
.container_progress{
    width: 1158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.btn1{
    border: 2px solid #619e2d;
    border-radius: 10px;
    padding: 12px 22px;
    width: 184px;
    height: 56px;
    background: none;
    color: #619e2d;

}
.slidecontainerText{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.div-5_container{
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
}
.div-5_container_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 1100px;
    align-items: center;
    justify-items: stretch;
    .div-5_container_text{
        font-family: Geometria;
        font-weight: 400;
        font-size: 24px;
        line-height: 117%;
    }
    .slide{
        text-align: center;
        font-family: Geometria;
        font-weight: 500;
        font-size: 24px;
    }
}
.btnPos{
    position: relative;
    left: 910px;
    top: -38px;
}
.btnPos1{
    position: relative;
    left: 715px;
    top: -38px;
}
.content4{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    font-family: Geometria;
    overflow:hidden;
    margin: 0 auto;
    width: 1568px;
}
.content4_InfWindow{
    position: relative;
    border-radius: 20px;
}
.imgTextEnd{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.p2{
    width: 33.3%;
}
.p3{
    width: 49.3%;
}
.p4{
    width: 66.53% ;
}
.p5{
    width: 83.12% ;
}
.p6{
    width: 99% ;
}
.p7{
    width: 100%;
}
.formSteps_div-7{
    position: relative;
    z-index: 1111;
}
.div-7_container{
    display: flex;
    flex-direction: row;
    font-family: Geometria;
    color: #000;
}
.div-7_container_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.div-7_container_check_dialog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 45px 0 15px 0;
}
.div-7_container_check{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
    padding-bottom: 30px;
}
.div-7_check{
    position: relative;
    bottom: 10px;
}
.div-7_container_img{
    position: relative;
    left: 116px;
}
.div-7_container_text1{
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    padding-bottom: 13px;
}
.div-7_container_text2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    padding-bottom: 22px;
}
.div-7_container_text3{
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    padding-bottom: 15px;
}
.div-7_container_text_soc{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.div-7_container_check_dialog_dialogNumber{
    width: 408px;
    height: 56px;
}
.div-7_container_check_dialog_dialogBtn{
    width: 408px;
    height: 56px;
}
.div-7_container_list{
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    gap: 20px;
    display: flex;
    flex-direction: column;

}
.mobhead{
 display: none;
}
.container {
    width: 1568px;
    margin: 0 auto;
}
.prof_var_items {
    display: flex;
    flex-wrap: wrap;
    gap: 19px 20px;
}
.prof_var_item {
    position: relative;
    width: 432px;
    min-height: 285px;
    border-radius: 20px;
}
.prof_var_item img {
    width: 100%;
    height: 100%;
}
.prof_var_item:hover .prof_var_item_content {
    height: auto;
}
.prof_var_item:hover .prof_var_item_text {
    display: block;
}
.prof_var_item_content {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55px;
    padding: 14px 0 0 13px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.88);
    border-radius: 0 0 20px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #619e2d;
}
.prof_var_item_text {
    display: none;
    font-weight: 400;
    color: #000;
    padding: 8px;
}

.content4_img_inf{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 14px 0 0 13px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.88);
    border-radius: 0 0 20px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #619e2d;
}
.content4_img_inf_text{
    font-weight: 400;
    color: #000;
}
.container6Img{
    display: none;
}
.container6{
    background-image: url('../icon/Group6022.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1568px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;;
    color: #000;
    gap: 30px;
    padding: 180px 0 61px 72px;
    margin: 0 auto 100px auto;
    overflow: hidden;
}
.container6_title{
    font-weight: 700;
    font-size: 96px;
    line-height: 42%;
}
.container6_text{
    font-weight: 500;
    font-size: 48px;
    line-height: 83%;

}
.rooms_container {
    width: 1568px;
    margin: 0 auto;
    overflow: hidden;
}
.rooms .rooms_container {
    padding: 81px 40px 76px 0;
    min-height: 543px;
    background: rgba(217, 217, 217, 0.52);
    border-radius: 20px;
}
.rooms_items {
    display: flex;
    gap: 27px 82px;
}
.rooms_item {
    position: relative;
    width: 734px;
}
.rooms_item_title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
    height: 75px;
    background: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000;
}
.rooms_item img.active{
    width: 100%;
    height: 100%;
}
.rooms_item_subtitles {
    margin-top: 41px;
    padding-left: 72px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    font-size: 32px;
    color: #2d2c30;
}
.rooms_item_subtitle {
    cursor: pointer;
}
.rooms_item_subtitle.active {
    position: relative;
    color: #619e2d;
}
.rooms_item_subtitle.active:after {
    content: url('../icon/long_arrow.svg');
    position: absolute;
    bottom: -22px;
    left: -72px;
}
.rooms_pictures {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 28px;
    left: -264px;
    bottom: -44px;
}
.rooms_pictures img {
    width: 285px;
    height: 188px;
}
.rooms_buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
.rooms_btn {
    width: 105px;
    height: 97px;
    border-radius: 20px 0 0 20px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background: #619e2d;
    cursor: pointer;
}
.rotate {
    transform: rotate(180deg);
}
.container8_CardText{
    position: relative;
    bottom: 15px;
    left: 5px;
    width: 237px;
    height: auto;
    background: none;

}
.container8_CardText_imgStep{
    height: 110px;
    position: relative;
    top: 58px;
}
.container8_CardText_title{
    font-weight: 700;
    font-size: 20px;
    color: #619e2d;
    line-height: 200%;
}
.container8{
    width: 1568px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 43px;
}
.container8_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container8_title{
    font-family: Geometria;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #000;
}
.container8_CardText_dop3{
    bottom: 63px;
    width: 413px;
}
.container8_imgStep_dop3{
    top: 8px;
}
.container8_CardText_dop2{
    bottom: 8px;
}
.container8_CardText_title_dop2{
    line-height: 100%;
}
.container8_imgStep_dop2{
    top: 58px;
}
.container8_CardText_dop4{
    bottom: -4px;
    left: 4px;
    width: 313px;
}
.container8_CardText_title_dop4{
    line-height: 100%;
}
.container8_imgStep_dop4{
    top: 78px;
}
.content9{
    width: 1568px;
    margin: 0 auto 100px;
    border-radius: 20px;
    background: #f4f1f1;

}
.container9{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
}
.container9_Imgs{
    display: flex;
    flex-direction: row;
    gap: 35px;

    img{
        padding: 35px 0;
    }
}
.container9_Text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container9_Text1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Geometria;
    font-weight: 100;
    font-size: 24px;
    line-height: 117%;
    color: #000;
}
.container9_Title{
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #619e2d;
}
.container9_Title_b{
    color: #000;
}
.container9_lable{
    border-radius: 50px;
    width: 706px;
    height: 75px;
    background: #619e2d;
    font-family: Geometria;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 62px;
    top: 134px;
}
.container13{
    width: 1568px;
    font-family: Geometria;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    overflow: hidden;
}
.container13_cards_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.container13_cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9%;
}
.container13_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #000;
}
.container13_card{
    border-radius: 10px;
    width: 344px;
    height: 415px;
    box-shadow: 0 5px 20px 0 rgba(118, 106, 122, 0.25);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    gap: 28px;
}
.container13_card_text{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        text-align: center;
    }
}
.container13_card_text_title{
    font-weight: 700;
    font-size: 22px;
    color: #000;
}
.container13_card_text_all{
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
._text_title_color{
    color: #619e2d;
}
.card_text_dop{
    gap: 18px;
}
.container13_cards_gap{
    gap: 5%
}
.container13_btn_for_order{
    background-image: url('../icon/Group6023.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    height: 285px;
    font-family: Geometria;
}
.container13_discountBanner_ImgMob{
    display: none;
}
.container13_btn_for_order_title{
    padding: 0 415px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: #000;

}
.container13_btn{
    border-radius: 10px;
    padding: 12px 22px;
    width: 304px;
    height: 56px;
    background: #619e2d;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border: none;
}





.discountBanner{
    width: 1695px;
    margin: 0 auto 100px auto;
    overflow: hidden;
    position: relative;
    right: -39px;
}

.departure{
    overflow: hidden;
}

.container14 {
    width: 1568px;
    margin: 0 9%;
    font-family:Geometria;
}
.shapes_wrapper {
    position: relative;
}
.departure {
    padding: 43px 0 0 0;
    border-radius: 20px;
    width: 1568px;
    min-height: 655px;
    background: #f4f1f1;

}
.departure_bg {
    position: absolute;
    z-index: 0;
    top: -40px;
    right: 180px;
    width: 740px;
    height: 688px;

}
.departure_content {
    width: 681px;
}
.departure_content_title {
    font-family:Geometria;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #000;
}
.departure_content_text {
    margin-top: 32px;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #000;
}
.departure_items {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.departure_item {
    display: flex;
    align-items: center;
    gap: 21px;
}
.departure_item_text {
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #000;
}
.departure_form {
    width: 616px;
}
.departure_input {
    border-radius: 10px;
    border: none;
    padding: 12px 22px;
    width: 272px;
    height: 56px;
    background: #faf9fb;
}
.departure_input::placeholder {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}
.departure_submit {
    margin-top: 47px;
    display: flex;
    gap: 16px 40px;
}
.btn_departure {
    border-radius: 10px;
    border: none;
    padding: 12px 22px;
    width: 304px;
    height: 56px;
    background: #619e2d;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.departure_policy {
    display: flex;
    gap: 10px;
    margin-top: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.checkbox {
    position: absolute;
    z-index: -1;
}

.checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.checkbox-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    transition: .3s;
}

.checkbox-icon {
    opacity: 0;
    transition: .3s;
}

.checkbox:checked + .checkbox-view {
    background-color: #619e2d;
    border: none;
}

.checkbox:checked + .checkbox-view .checkbox-icon {
    opacity: 1;
}




.content15{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 1568px;
    margin: 180px auto 0;
    overflow: hidden;

    iframe{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }

}
._BlockInf{
    border-radius: 20px;
    width: max-content;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 9px 45px 26px 29px;
    gap: 18px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 100;
    span{
        font-family: Geometria;
        font-weight: 700;
        font-size: 24px;
        line-height: 167%;
        color: #000;
    }
}
._TextImgTel{
    display: flex;
    flex-direction: column;
}
._InfTextImg{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
._TextImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 19px;

    span{
        font-weight: 400;
        font-size: 28px;
        line-height: 114%;

    }
}
.content5{
    margin: 60px auto 100px auto;
    overflow: hidden;
    width: 1568px;
}
.content5_img_list{
    border-radius: 20px;
    height: 860px;
    background: rgba(243, 240, 240, 0.92);
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    gap: 32px;

    span{
        font-family: Geometria;
    }
}
.content5_text{
    display: flex;
    flex-direction: column;
    border-radius:  50px 0 0 50px ;
    width: 840px;
    height: 114px;
    background: #ffffff;
    margin-top: 35px;
    font-weight: 400;
    font-size: 37px;
    line-height: 125%;
    color: #000;
    padding: 14px 40px 0 36px ;

    .content5_text_title{
        font-weight: 700;
    }

    .content5_text_color{
        font-weight: 600;
        color: #619e2d;
    }
}
.content5_text_dop{
    font-size: 20px;
    line-height: 160%;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 29px 0 0 44px;
    width: 70%;
}
.content5_list{
    .custom-counter {
        margin-left: 0;
        padding-right: 0;
        list-style-type: none;
        width: 100%;
        font-family: Geometria;
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    .custom-counter li {
        counter-increment: step-counter;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
    }
    .custom-counter li::before {
        content: counter(step-counter);
        margin-right: 5px;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        background: #619e2d;
        font-family: Geometria;
        font-weight: 500;
        font-size: 24px;
        line-height: 133%;
        text-align: center;
        color: #fff;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}
.content5_img_above_cards{
    border-radius: 20px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    img{
        z-index: 1;
        top: -18px;
        position: relative;
    }
    width: 474px;
    height: 356px;

}
.card{
    position: absolute;
    z-index: 100;
    font-family: Geometria;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: #000;
    margin: 20px;
    width: 474px;
    display: flex;
    flex-direction: column;

}
.card_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #619e2d;

}
.card_text{
    width: 474px;
}
.content5_img_above{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: -42px;
}
.content4_img_inf_dop{
    height: auto;
    padding-bottom: 5px;
    background: none;
}
.content5_img{
    border-radius: 20px;
    width: 735px;
    height: 786px;
}
.content5_list_text{
    height: 630px;
}
footer{
    width: 100%;
    height: 168px;
    background: #2D2C30;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 36px;
    padding: 24px 0 0 0;
}
.FGeoData{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 214px;
    margin-right: 144px;
}
.FLogo{
    margin-right: 144px;
}
.FGeoText{
    font-family: PFBagueSansProHairline;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 1.2%;
}
.FNumber{
    font-family: PFBagueSansProHairline;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.FNumImgLogo{
    width: 236px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}



.modal_back {
        display: none;
        position: fixed;
        z-index: 101;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(80,80,80, 0.5);
    }
.modal_window{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 888px;
        height: 555px;
        min-height: 461px;
        background-color: #ffffff;
        padding: 40px;
    }
.modal_close{
    position: absolute;
    width: 25px;
    top: 13px;
    right: 19px;
    cursor: pointer;
    z-index: 100;
    img {
        width: 100%;
    }
}
.modal_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Geometria;
}
.modal_title{

    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #2d2c30;
}
.modal_descr_mobile{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2d2c30;
}
.btn_form_modal{
    border-radius: 10px;
    padding: 12px 22px;
    width: 336px;
    height: 56px;
    background: #619e2d;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}
.modal_form_check{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    height: 40px;
}
.modal_check{
    position: relative;
    top: 7px;
}
.modal_form_num{
    padding: 12px 22px;
    width: 336px;
    height: 56px;
    background: #faf9fb;
    border: none;
}

.modal_content_text{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.modal_form{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.modal_content_img {
    position: relative;
    width: 548px;
    height: 556px;
    top: -40px;
    left: 40px;

}
     /* контейнер */
 .container {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
/* скрываем дефолтный флажок */
.container .check-highload {
    position: absolute;
    opacity: 0;
}
/* Создаем кастомный checkbox */
.highload2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 67px;
}
/* При наведении указателя мыши перекрашиваем */
.container:hover .check-highload ~ .highload2 {
    background-color: #ccc;
    border-radius: 67px;
}
/* Когда отмечен, то красим в зеленый цвет */
.container .check-highload:checked ~ .highload2 {
    background-color: green;
    border-radius: 67px;
}
/* Создаем когда отмечено (не видно, когда не отмечено) */
.highload2:after {
    content: "";
    position: absolute;
    display: none;
}
/* Показываем когда отмечен */
.container .check-highload:checked ~ .highload2:after {
    display: block;
}
/* Стили индикатора */
.container .highload2:after {
    left: 8px;
    top: 4px;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
/* Стили для кнопки */
.glare-button {

    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Добавляем тень для трехмерного эффекта */
}

/* Стили для создания блика на кнопке */
.glare-button:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    background-image: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 30%, /* Прозрачность начала блика */ rgba(255, 255, 255, 0.41), /* Цвет блика */
            rgba(255, 255, 255, 0) 70% /* Прозрачность конца блика */
    );
    top: 0;
    left: -100px;
    animation: shine 4s infinite linear; /* Анимация блика */
}

/* Ключевые кадры для анимации блика */
@keyframes shine {
    0% {
        left: -100px; /* Начальная позиция блика (левая сторона кнопки) */
    }
    20% {
        left: 100%; /* Позиция блика в конце (правая сторона кнопки) */
    }
    100% {
        left: 100%; /* Завершение анимации */
    }
}

.discountBanner_ImgMob{
    display: none;
}
@media (max-width: 480px) {
    .mobhead{
        display: flex;
        flex-direction: row;

    }
    .mobheadImg{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        img{
            width: 24px;
            height: 24px;
        }
    }
    .mobheadBtn{
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 10px;
        color: #fff;
        font-family: Geometria;
        margin: 0 24px 0 12px;
    }
    .headerBtn{
        font-family: Geometria;
        border-radius: 10px;
        padding: 12px 0;
        width: 150px;
        height: 32px;
        margin: 4px 0 0 0;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content2{
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        margin: 10px;
        width: auto;
        overflow: hidden;
    }
    ._Card{
        width: 150px;
        height: 208px;
    }
    ._CardImg{
        width: 160px;
        height: 208px;
    }
    .content2TextHead{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
    }
    .cargImgCalc{
        margin-top: 21px;
        width:50px;
        height:50px;
        position: relative;
        left: 1px;
        top: 5px;
    }
    ._CardTextImg{
        width:auto;
        overflow: hidden;
    }
    ._CardsGroup{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        gap: 12px;
        overflow: hidden;
        justify-items: stretch;
    }
    ._CardText{
        width: 110px;
        height: 47px;
        font-size: 10px;
        line-height: 90%;
        margin-top: 10px;
        padding: 0 0 8px 8px;
        border-radius: 0 0 10px 11px;
        position: relative;
        top:13px;
    }
    .content2TextHead{
        margin-bottom: 15px;
        align-items: flex-start;
        gap: 7px;
        ._textHead2{
            font-weight: 400;
            font-size: 16px;
            line-height: 187%;
            text-align: left;
        }
    }
    ._CardText2{
        font-size: 10px;
        line-height: 100%;
    }
    ._CardText3{
        font-size: 10px;
        line-height: 100%;
    }
    .FGeoData{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;
        padding-top: 100px;
        position: absolute;
        left: 70px;

        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
        }
    }
    .FLogo {
        margin: 0;
        position: relative;
        top: 241px;
        right: 126px;
    }
    footer{
        overflow: hidden;
        height: 296px;
        padding: 0;

    }
    .content15{
        width: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        margin-top: 40px;
        ._BlockInf{
            width: 264px;
            height: 186px;
            padding: 9px 29px 9px 29px;
            span{
                font-size: 16px;
            }
        }
    }
    .content1{
        margin: 14px;
        height: 440px;
        width: auto;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        .content1Text{
            padding: 0;
            position: relative;
            top: -50px;

            .content1TextSale{
                position: relative;
                bottom: 180px;
                left: 25px;
                width: auto;
                span{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 286%;
                    text-align: center;
                }

                ._TextNum{
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 83%;
                    text-align: center;
                    color: #619e2d;
                    padding: 0;
                    position: relative;
                    left: 1px;
                    top: 8px;
                }

                ._TextSale{
                    position: relative;
                }
            }
            h1{
                font-weight: 700;
                font-size: 20px;
                position: relative;
                top: -127px;
                left: 26px;
            }
        }
        .content1Dialog{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            border-radius: 20px;
            width: 298px;
            backdrop-filter: blur(80px);
            box-shadow: inset 4px 4px 26px 0 rgba(255, 255, 255, 0.05), inset 0 4px 2px 0 rgba(255, 255, 255, 0.05), inset 0 -4px 2px 0 rgba(0, 0, 0, 0.1);

            padding: 23px 15px;
            position: relative;
            top: -165px;
            left: 20px;
            span{
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                text-align: left;
            }

            ._dialog{
                display: flex;
                flex-direction: column;
                gap: 11px;
                ._dialogNumber{
                    font-weight: 400;
                    font-size: 16px;
                    border-radius: 10px;
                    padding: 12px 22px;
                    width: 194px;
                    height: 38px;
                    font-family: Geometria;
                }
                ._dialogBtn{
                    border-radius: 10px;
                    padding: 12px 22px;
                    width: 194px;
                    height: 38px;
                    font-weight: 500;
                    font-size: 16px;

                }
            }

            ._agreement{
                font-weight: 400;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                position: relative;
                left: 5px;
                gap: 10px;

                label{
                    text-align: left;
                }
            }
        }


    }
    .content4{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .content4_InfWindow{
            img{
                height: 277px;
                width: 312px;
            }
            .content4_img_inf{
                border-radius: 0 0 10px 10px;
                width: 312px;
                height: 59px;
                padding: 4px 0 0 8px;
                span{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 107%;
                }
                .content4_img_inf_text{
                    font-weight: 400;
                }
            }
        }
        .prof_var{
            .container{
                width: auto;
                margin: 0;
                padding: 0;
            }
            .prof_var_items{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                .prof_var_item{
                    width: 150px;
                    height: 98px;
                    min-height: auto;

                    .prof_var_item_content{
                        border-radius: 0 0 10px 10px;
                        width: 150px;
                        height: 35px;
                        padding: 6px 0 0 10px;

                        .prof_var_item_title{
                            font-weight: 700;
                            font-size: 14px;
                        }
                    }

                }
            }
        }
    }
    .departure{
        width: auto;
        min-height: 860px;
        margin: 0 10px 0;
        .container14{
            display: flex;
            flex-direction: column;
            width: auto;
            .shapes_wrapper{
                position: relative;
                top: 593px;
                left: 174px;
                z-index: 1111;
                img{
                    width: 344px;
                    height: 278px;
                }
            }
            .departure_content{
                display: flex;
                flex-direction: column;
                width: auto;
                .departure_content_title{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 125%;
                }
                .departure_content_text{
                    font-weight: 400;
                    font-size: 16px;
                    margin-top: 6px;
                }
                .departure_items{
                    margin: 0;
                    gap: 10px;
                    .departure_item_text{
                        font-weight: 400;
                        font-size: 14px;
                        font-family: Geometria;
                        line-height: 143%;
                        color: #000;

                    }

                    img{
                        width:22px;
                        height:22px;
                    }
                }
                .departure_form{
                    width: auto;
                    height: auto;
                    .departure_submit{
                        display: flex;
                        flex-direction: column;
                        margin-top: 20px;

                        input{
                            width: 272px;
                            height: 48px;
                            font-family: Geometria;
                            font-weight: 400;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 0.6);
                            padding: 12px 22px;
                        }

                        button{
                            border-radius: 10px;
                            padding: 7px 22px;
                            width: 272px;
                            height: 48px;
                            font-family: Geometria;
                            font-weight: 500;
                            font-size: 20px;
                            color: #fff;

                        }
                    }
                    .departure_policy{
                        .checkbox-label{
                            font-weight: 400;
                            font-size: 12px;
                        }
                        .checkbox-view{
                            margin-bottom: 13px;
                        }
                    }
                }
            }
        }
    }
    .discountBanner{
        width: auto;
        margin: 0 auto 40px auto;
        right: 0;
        .discountBanner_Img{
            display: none;
        }
        .discountBanner_ImgMob{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 312px;
            height: 318px;

            button{
                position: relative;
                z-index: 11;
                top: -72px;
                border-radius: 10px;
                padding: 24px 22px;
                width: 272px;
                height: 48px;
                font-family: Geometria;
                font-weight: 500;
                font-size: 20px;
                color: #fff;

            }
        }
    }
    .content6{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        .container6{
            display: none;
        }
        .container6Img{
            display:flex;
            align-items: center;
        }
    }
    .rooms{
        width: auto;
        margin :0 10px 60px;
        .rooms_container{
            width: auto;
            min-height: 571px;
            margin: 0;
            padding: 0;
            .rooms_items{
                display: flex;
                flex-direction: column;
                width: auto;
                .active{
                    width: auto;
                    height: auto;
                }
                .rooms_item{
                    width: auto;
                    img{
                        width: 279px;
                        height: 214px;
                        position: relative;
                        left: 60px;
                    }
                }
                .rooms_item_title{
                    font-family: Geometria;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 125%;
                    border-radius: 50px;
                    width: 268px;
                    height: 54px;
                    position: relative;
                    left: -35px;
                    margin-top: 28px;
                }
                .rooms_item_subtitles{
                    font-family: Geometria;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 20px;
                    gap: 10px;
                    margin-top: 10px;
                }
                .rooms_item_subtitle.active:after{
                    content: url(../icon/Arrow.png);
                    left: -35px;
                    bottom: -15px;
                }
                .rooms_pictures{
                    gap: 10px;
                    left: -28px;
                    bottom: 15px;
                    img{
                        border-radius: 10px;
                        width: 98px;
                        height: 65px;
                        z-index: 11;

                    }
                }
                .rooms_buttons{
                    position: relative;
                    left: 260px;
                    top: -35px;
                   button{
                       width: 37px;
                       height: 35px;
                       border-radius: 10px 0 0 10px;
                       img{
                           width: 23px;
                           height: 8px;
                           left: 0;
                           top: -2px;
                       }
                   }
                }
            }
        }
    }
    .container9_lable{
        height: 30px;
        width: 220px;
        font-weight: 700;
        font-size: 16px;
        line-height: 250%;
        right: 32px;
        top: 57px;
    }
    .content9{
        width: auto;
        margin :0 10px 40px;
        .container9{
            width: auto;
            display: flex;
            flex-direction: column;
            gap: 24px;
            .container9_Imgs{
                gap: 10px;
                margin-top: 15px;
                img{
                    border-radius: 10px;
                    width: 142px;
                    height: 201px;
                    padding: 0;
                }
            }
            .container9_Text{
                padding-bottom: 21px;
                .container9_Text1{
                    gap: 4px;
                    .container9_Title{
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 100%;
                    }
                    .container9_Text_description{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 122%;
                    }
                }
            }

        }
    }
    .content13{
        width: auto;
        .container13{
            width: auto;
            gap: 0;
            .container13_cards_title{
                gap: 15px;
                .container13_title{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 125%;
                    text-align: center;
                }
                .container13_cards{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .container13_card{
                        width: 314px;
                        height: 184px;
                        margin: 0;
                        padding:19px 10px;
                        gap: 10px;
                        img{
                            border-radius: 100px;
                            width: 76px;
                            height: 76px;
                        }
                        .container13_card_text_title{
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 143%;
                        }
                        .container13_card_text_all{
                            font-weight: 400;
                            font-size: 12px;


                        }
                        .container13_card_text{
                            gap: 7px;
                            br{
                                display: none;
                            }
                        }

                    }
                }
            }
            .container13_btn_for_order{
                display: none;
            }
            .container13_discountBanner_ImgMob{
                display: flex;
                flex-direction: column;
                padding-top: 100px;

            }
            .container13_text_image{
                z-index: 11;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                position: relative;
                top: -260px;
                overflow: hidden;
                span{
                    font-family: Geometria;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 94%;
                    text-align: center;
                    color: #000;
                }
                button{
                    width: 240px;
                    height: 48px;
                }

            }
        }
    }
    .content5{

    }

    .content8{
        display: none;
    }

    .content3{
        display: none;
    }
}